.main{
    background-image: linear-gradient(
            to top,
            #232323 32%,
            rgba(35, 35, 35, 0.8),
            rgba(35, 35, 35, 1)
        ),}
.main ul {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.main ul li {
padding: 10px;
overflow: hidden;
list-style-type: none;
display: inline-block;
margin: 5px;
transition: width 2s;
}
.circle {
border: 1px solid transparent;
border-radius: 50;
border-radius: 50%;
background-color: gray;
padding: 20px;
display: flex;
align-items: center;
justify-content: center;

}

.icon {
color: #ece5e5;
font-size: 85px;
border-radius: 50%;
}
li:hover .circle{
background-color: rgb(61, 15, 225);
border: 20px solid #ece5e5;
}
// .blue{
// width: 100px;
// }
// li:hover .blue{
// width: 300px;
// background-color: blue;
// }

// .main ul li:hover img {
// cursor: pointer;
// opacity: 1;
// border: 10px solid red;
// }
